{% extends "base.html" %}
{% load static %}
{% block title %}
    <title>My Classes</title>

{% endblock %}

{% block content %}
    <form method="POST" action="">
        {% csrf_token %}
        {% for c in classes %}
            <section class="desc">
                <button class="cn" id="{{ c.course }}">
                    {{ c.course }}
                </button>
                <button class="delete" id="|~|~|delete|~|~|{{ c.course }}">
                    delete
                </button>
            </section>
        {% endfor %}

        <input type="hidden" name="whereto" id="whereto">
    </form>
    <script src="{% static 'Scripts/myClasses.js' %}"></script>
{% endblock %}